.filterToolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 6px;
    width: 100%;
    height: min-content;


    div {
        width: min-content;
        height: 34px;
        padding: 0px 10px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        border-radius: 30px;
        background: #e9e5d4;
        pointer-events: all;
        
        cursor: pointer;
    }
}


.filterWrapper,
#filterWrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: sticky;
    height: min-content;
    max-height: calc(100vh - 80px);
    top: 60px;

    .filterPanel {
        height: min-content;
        max-height: 25vh;
        padding: 12px;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        gap: 4px;
        flex-wrap: nowrap;

        border-radius: 12px;
        background: #e9e5d4;

        

        &:first-child {
            flex-shrink: 0;
            height: min-content;
        }

        &:last-child {
            flex-shrink: 2;
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
            font-weight: 600;
            flex-wrap: nowrap;
        }

        p {
            margin: 0;
            text-wrap: nowrap;
            text-align: left;
        }
    }

    /* For WebKit browsers (Chrome, Safari) */
    ::-webkit-scrollbar {
        width: 12px;
        /* Width of the scrollbar */
        height: 12px;
        /* Height of the scrollbar */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #888;
        /* Color of the scrollbar thumb */
        border-radius: 10px;
        /* Rounded corners for the scrollbar thumb */
    }

    ::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        /* Color of the scrollbar track */
        border-radius: 10px;
        /* Rounded corners for the scrollbar track */
    }
}