.filterToolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 6px;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
}
.filterToolbar div {
  width: -moz-min-content;
  width: min-content;
  height: 34px;
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background: #e9e5d4;
  pointer-events: all;
  cursor: pointer;
}
.filterToolbar .expandedMobileCategories {
  position: fixed;
  height: auto;
  min-height: 100px;
  width: 100vw;
  inset: 200px -19px 0px;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
  background: #e9e5d4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.filterToolbar .expandedMobileCategories .children {
  position: relative;
  overflow-y: scroll;
  height: calc(-258px + 100vh);
  width: 100vw;
  max-height: -moz-min-content;
  max-height: min-content;
  box-sizing: border-box;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  text-align: left;
  text-wrap: nowrap;
  font-weight: 600;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.filterModal {
  position: fixed;
  height: auto;
  min-height: 100px;
  inset: 200px 0 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
  background: #e9e5d4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.filterModal .children {
  position: relative;
  overflow-y: scroll;
  height: calc(-258px + 100vh);
  width: 100vw;
  max-height: -moz-min-content;
  max-height: min-content;
  box-sizing: border-box;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  text-align: left;
  text-wrap: nowrap;
  font-weight: 600;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.filterWrapper,
#filterWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: sticky;
  /* height: min-content; */
  max-height: calc(100vh - 80px);
  top: 60px;
}
.filterWrapper .filterPanel,
#filterWrapper .filterPanel {
  max-height: -moz-min-content;
  max-height: min-content;
  padding: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-wrap: nowrap;
  flex: 0%;
  border-radius: 12px;
  background: #e9e5d4;
}
.filterWrapper .filterPanel:first-child,
#filterWrapper .filterPanel:first-child {
  flex-shrink: 0;
  height: -moz-min-content;
  height: min-content;
}
.filterWrapper .filterPanel:last-child,
#filterWrapper .filterPanel:last-child {
  flex-shrink: 2;
}
.filterWrapper .filterPanel div,
#filterWrapper .filterPanel div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  flex-wrap: nowrap;
}
.filterWrapper .filterPanel p,
#filterWrapper .filterPanel p {
  margin: 0;
  text-wrap: nowrap;
  text-align: left;
}
.filterWrapper,
#filterWrapper {
  /* For WebKit browsers (Chrome, Safari) */
}
.filterWrapper ::-webkit-scrollbar,
#filterWrapper ::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
  height: 12px;
  /* Height of the scrollbar */
}
.filterWrapper ::-webkit-scrollbar-thumb,
#filterWrapper ::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners for the scrollbar thumb */
}
.filterWrapper ::-webkit-scrollbar-track,
#filterWrapper ::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Color of the scrollbar track */
  border-radius: 10px;
  /* Rounded corners for the scrollbar track */
}/*# sourceMappingURL=FilterPanel.css.map */